.profileContainer h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: inherit;
}

.profileDetails {
    margin-top: 1rem;
    padding: 1rem;
    max-width: 800px;
    margin: 0.7rem auto 0 auto;
}
.profileDetails ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    justify-content: center;
    gap: 2rem;
}
.profileDetails ul li {
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profileDetails .tabContent {
    min-height: 300px;
    padding: 1rem;
}
.profileDetails .tabContent h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.profileDetails .tabContent .bioContent p {
    line-height: 1.6;
    font-size: 1rem;
    text-align: justify;
}