* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-wrapper {
    display: flex;
    height: 100%;
}

.dark-column {
    background-color: black;
    width: 40%; 
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    padding-top: 50px; 
    padding-left: 50px;
}

.light-column {
    width: 60%;
    background-color: #57DBCE;  
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #57DCBE;
    font-size: x-large;
}

.container { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.form {
    margin-top: -10px;
    padding: -5px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.input-container {
    position: relative; 
    margin-bottom: 10px; 
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.input-container input {
    padding-right: 40px;
    padding-left: 5px;
    width: 100%;
}

.button {
    background-color: #57DCBE;
    color: white;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45b89c;
}

.link {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 580px) {
    .dark-column {
        width: 100%;
        padding: 20px;
    }

    .light-column {
        display: none;
    }

    .titulo {
        font-size: x-large;
    }

    .form {
        font-size: 13px;
        margin-left: 125px;
        margin-top: 20px;
    }
    .input-container input {
        padding-right: 30px;
    }

    .button {
        width: 100%;
    }
}

@media (max-width: 380px) and (min-width: 200px) {
    .form {
        font-size: 11px;
        align-items: center;
    }
}
